<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <h1>{{category.name}}</h1>

    <!--Message Flashing-->
		{% with messages = get_flashed_messages() %}
			{% if messages %}

			<ul class = flash>
				{% for message in messages %}
				  <li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		<div class = "">
			<a href = '{{url_for('newItem', category_name = category_name) }}'>Create New Item</a>
		</div>

    {% if items %}
      {% for i in items %}
        <div>
          <p> {{i.name}} </p>
          <p> {{i.description}} </p>
        </div>
      {% endfor %}
    {% else %}
      <p> There are no items </p>
    {% endif %}
  </body>
</html>
