{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <!--Flash message-->
  <div class=flash>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

    <div class=maincontent>
      <div class=leftcol>
        <h2>Category</h2>

        {% if categories %}
          {% for c in categories %}
              <a href = "{{url_for('showItemsInCategory', category_name = c.name )}}">
                <div class=button>{{c.name}}</div>
              </a>

          {% endfor %}
        {% else %}
          <p> There are no categories </p>
        {% endif %}
      </div>
      <div class=middledivider>
      </div>
      <div class=rightcol>

        <h2>Latest items</h2>

        {% if lasttenitems %}
          {% for i in lasttenitems %}

              <a href = "{{url_for('showItem', category_name = i.category.name, item_name = i.name )}}">
                <div class=button>{{i.name}} <i>({{i.category.name}})</i></div>
              </a>

          {% endfor %}
        {% else %}
          <p> There are no items </p>
        {% endif %}
      </div>
    </div>
{% endblock %}
