<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul class = flash>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
      <a href = '{{url_for('newCategory') }}'>Create New Category</a>
    </div>
    <h1>Categories</h1>
    {% if categories %}
      {% for c in categories %}
        <div>
          <p> {{c.name}} </p>
        </div>
      {% endfor %}
    {% else %}
      <p> There are no categories </p>
    {% endif %}
  </body>
</html>
