{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <!--Message Flashing-->
  <div class=flash>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
  			<ul>
  				{% for message in messages %}
  				  <li><strong>{{message}}</strong></li>
  				{% endfor %}
  			</ul>
			{% endif %}
		{% endwith %}
  </div>



<div class=maincontent>
  <div class=rightcol>
    <h2>Edit {{category_name}}</h2>

    <form action='{{url_for('editItem', category_name=category_name, item_name=item_name)}}' method = 'POST'>
      <p>Name: </p><input type='text' size='30' name='name' placeholder="{{item_name}}">
      <p>Description: </p><input type='text' size='30' name='description' placeholder="{{item.description}}">
      <p>Category: </p>
      <select name="category">
        {% for c in categories %}
          {% if category_name == c.name %}
          <option value="{{c.name}}" selected>{{c.name}}</option>
          {% else %}
          <option value="{{c.name}}">{{c.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type='submit' value='Edit'>
      <a href = '{{url_for('showItemsInCategory', category_name=category_name) }}'>Cancel</a>
    </form>
  </div>
</div>
    {% endblock %}
