<div class=header>
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main heading">
		<div class="col-md-1"></div>
		<div class="col-md-7 padding-none">
			<a href="{{url_for('showCategories')}}"><h1>Catalog</h1></a>
		</div>
		<div class="col-md-2">
			{% if 'username' in session %}
				<figure class="userinfo">
					<img src="{{session['picture']}}">
					<figcaption>{{ session['username'] }}</figcaption>
				</figure>
			{% endif %}
		</div>
		<div class="col-md-2 heading">
			{% if 'username' in session %}
			<a href="{{url_for('disconnect')}}"><div class=topbutton>Logout</div></a>
			{% else %}
			<a href="{{url_for('showLogin')}}"><div class=topbutton>Login</div></a>
			{% endif %}
		</div>
	</div>
</div>

<div class="row top-menu">


</div>
