{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class=header>
    <div class="row top-menu">
  		<div class="col-md-10"></div>
  		<div class="col-md-2 text-right"></div>
  	</div>
  	<div class="row divider blue">
  		<div class="col-md-12"></div>
  	</div>
  	<div class="row banner main">
  		<div class="col-md-1"></div>
  		<div class="col-md-11 padding-none">
  			<h1>Catalog</h1>
  		</div>
  	</div>
  </div>
  
    <h1>New Category</h1>
    <form action="{{url_for('newCategory')}}" method = 'POST'>
      <p>Name:</p>
      <input type='text' size='30' name='name'>
      <input type='submit' value='Create'>
{% endblock %}
