{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <!--Message Flashing-->
  <div class=flash>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
  			<ul>
  				{% for message in messages %}
  				  <li><strong>{{message}}</strong></li>
  				{% endfor %}
  			</ul>
			{% endif %}
		{% endwith %}
  </div>

  <div class=maincontent>
    <div class=leftcol>
      <h2>Category</h2>

      {% if categories %}
        {% for c in categories %}
            <a href = "{{url_for('showItemsInCategory', category_name = c.name )}}">
              <div class=button>{{c.name}}</div>
            </a>

        {% endfor %}
      {% else %}
        <p> There are no categories </p>
      {% endif %}
    </div>
    <div class=middledivider>
    </div>

    <div class=rightcol>
      <h2>{{category.name}} ({{count}} items)</h2>

      {% if items %}
        {% for i in items %}
          <a href='{{url_for('showItem', category_name = category.name, item_name = i.name) }}'>
            <div class=button>
              <p> {{i.name}} </p>
              <p> {{i.description}} </p>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <p> There are no items </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
