{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class=maincontent>
    <div class=right>
      <div class=row>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <figure class="creator">
            <img src="{{creator.picture}}">
            <br>
            <br>
            <figcaption>{{ creator.name }}</figcaption>
          </figure>
        </div>
        <div class="col-md-7">
          {% if item %}
            <div>
              <h4> Description: </h4>
              <p class=description> {{item.description}} </p>
            </div>
          {% else %}
            <p> There are no such item </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
 {% endblock %}
